<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Contacto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container" style="text-align: center;">
          <div class="position-relative">
            <i class="redes bi bi-whatsapp px-2"></i>
            <i class="redes bi bi-github px-2"></i>
            <i class="redes bi bi-linkedin px-2"></i>
            <i class="redes bi bi-facebook px-2"></i>
            <i class="redes bi bi-twitter px-2"></i>
          </div>
          <br>
          <div class="row">
            <div class="form-floating mb-3 col-sm-12 col-lg-4">
              <input class="form-control" type="text" name="nombre" id="floatingInput" placeholder="Nombre">
              <label for="floatingInput" style="padding: 15px;">Nombre:</label>
            </div>
            <div class="form-floating mb-3 col-sm-12 col-lg-4">
              <input class="form-control" type="email" name="email" id="floatingInput" placeholder="Correo">
              <label for="floatingInput" style="padding: 15px;">Correo:</label>
            </div>
            <div class="form-floating mb-3 col-sm-12 col-lg-4">
              <input class="form-control" type="tel" name="telefono" id="floatingInput" placeholder="Teléfono">
              <label for="floatingInput" style="padding: 15px;">Telefono:</label>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input class="form-control" type="text" name="comentarios" id="floatingTextarea2" placeholder="Especificaciones" style="height: 150px;">
            <label for="floatingTestarea2">Comentarios:</label>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-primary botones">Enviar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

