<div class="cuerpo">

  <div class="container text-center">

    <div class="row row-cols-2" style="padding: 7vh;">

      <div class="col-lg-6 col-sm-12">
        <div>
          <img class="logo" src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides">
        </div>
        <button type="button" class="btn botones" data-bs-toggle="modal" data-bs-target="#login">Iniciar Sesión</button>
        <button type="button" class="btn botones" data-bs-toggle="modal" data-bs-target="#registro">Crear
          Cuenta</button>

      </div>



      <div class="col-lg-6 col-sm-12 saludo" style="text-align: left;">
        <div *ngIf="isLogged; else loggedOut">
          <div class="ps-5">
            <p class="uno">saludo <span class="dos">=</span> </p>
            <p class="tres">"¡Bienvenido</p>
            <p class="tres">{{nombreUsuario}}! ,</p>
            <p class="tres">este es mi portfolio"<span class="dos">_</span></p>
          </div>
        </div>

          <ng-template #loggedOut>
            <div class="ps-5">
              <p class="uno">saludo <span class="dos">=</span> </p>
              <p class="tres">"¡Hola!. Soy </p>
              <p class="tres">Rodrigo,</p>
              <p class="tres">desarrollador Web"<span class="dos">_</span></p>
            </div>
          </ng-template>

        

      </div>

    </div>

  </div>

</div>