<div class="cuerpo">
<div class=" contenedorA">
  <div class="">
    <img class="miFoto" src="../../../assets/dist/foto.png" alt="">
  </div>
  <div class="" >
    <img class="logo" src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides">
  </div>
  <div class="">
    <button type="button" class="btn btn-outline-secondary btnLogin" style="" data-bs-toggle="modal" data-bs-target="#login">LOGIN</button>
  </div>
</div>


  <div class="saludo">
    <div>
      <p class="uno">saludo <span class="dos">=</span> </p>
      <p class="tres">"¡Hola!. Soy </p>
      <p class="tres">Rodrigo,</p>
      <p class="tres">desarrollador Web"<span class="dos">_</span></p>
         
    </div>
  </div>
  
  
</div>

