<div class="seccion">
  <nav class="navbar container-fluid">
  <div class="container-fluid navbar">
    <span class="navbar-brand">
      <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
     <h2 class="navbar">Educaión:</h2>
    </span>
  </div>
</nav>

<div class="card educacion">
  <h5 class="card-header">freCodeCamp Academy</h5>
  <div class="card-body">
    <h5 class="card-title">Algoritmos de JavaScript y Estructuras de Datos</h5>
    <ul class="card-text">
      <li>JavaScript básico</li>
      <li>ES6</li>
      <li>Expresiones regulares</li>
      <li>Depuración</li>
      <li>Estructuras de datos básicas</li>
      <li>Programación de algoritmos básicos</li>
      <li>Programación orientada a objetos</li>
      <li>Programación funcional</li>
    </ul>
    <a href="https://www.freecodecamp.org" target="_blank" class="btn btn-outline-secondary botones">Ir al sitio</a>
  </div>
</div>
<div class="card educacion" >
  <h5 class="card-header">The Odin Project</h5>
  <div class="card-body">
    <h5 class="card-title">Fundations</h5>
    <ul class="card-text">
      <li>Introduction</li>
      <li>Prerequisites</li>
      <li>Git Basics</li>
      <li>HTML Foundations</li>
      <li>CSS Foundations</li>
      <li>Flexbox</li>
    </ul>
    <a href="https://www.theodinproject.com/paths/foundations/courses/foundations#git-basics" class="btn btn-outline-secondary">Ir al Sitio</a>
  </div>
</div>






