<div class="seccion">
  <nav class="navbar container-fluid">
  <div class="container-fluid navbar">
    <span class="navbar-brand">
      <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
     <h2 class="navbar">Educación:</h2>
    </span>
  </div>
</nav>

<div class="cuerpo card">
  <h5 class="card-header">freCodeCamp Academy</h5>
  <div class="card-body">
    <h5 class="card-title">Algoritmos de JavaScript y Estructuras de Datos</h5>
    <ul class="card-text">
      <li class="lista">JavaScript básico</li>
      <li class="lista">ES6</li>
      <li class="lista">Expresiones regulares</li>
      <li class="lista">Depuración</li>
      <li class="lista">Estructuras de datos básicas</li>
      <li class="lista">Programación de algoritmos básicos</li>
      <li class="lista">Programación orientada a objetos</li>
      <li class="lista">Programación funcional</li>
    </ul>
    <a href="https://www.freecodecamp.org" target="_blank" class="btn btn-outline-secondary botones">Ir al sitio</a>
  </div>
</div>
<div class=" cuerpo card">
  <h5 class="card-header">The Odin Project</h5>
  <div class="card-body">
    <h5 class="card-title">Fundations</h5>
    <ul class="card-text">
      <li class="lista">Introduction</li>
      <li class="lista">Prerequisites</li>
      <li class="lista">Git Basics</li>
      <li class="lista">HTML Foundations</li>
      <li class="lista">CSS Foundations</li>
      <li class="lista">Flexbox</li>
    </ul>
    <a href="https://www.theodinproject.com/paths/foundations/courses/foundations#git-basics" class="btn btn-outline-secondary">Ir al Sitio</a>
  </div>
</div>






