<div class="seccion">
  <nav class="navbar container-fluid">
  <div class="container-fluid navbar">
    <span class="navbar-brand">
      <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
      <h2 class="navbar">Educación:</h2>
    </span>
  </div>
</nav>

<div class="cuerpos">
  
  <h5 class="card-header" style="color: #9fcc40;">{{instit}} + hola</h5>
  <div class="card-body">
    <h5 class="card-title" style="color: #9fcc40;">{{nomCurso}}</h5>
    <br>
    <ul class="card-text" *ngFor ="let tema of temas">
      <li class="lista">{{tema}}</li>
    </ul>
    <br>
    <a href="https://www.freecodecamp.org" target="_blank" class="btn btn-outline-secondary" style="color: #9fcc40; border: #9fcc40 1px solid;">Ir al sitio</a>
  </div>
</div>





