<app-nav></app-nav>
<div class="seccion">
  <nav class="navbar container-fluid">
    <div class="container-fluid navbar">
      <span class="navbar-brand">
        <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
        <h2 class="navbar">Proyectos</h2>
      </span>
      <div class="iconos me-5" *ngIf="isAdmin">
        <p>Agregar <i class="bi bi-plus-square-fill"></i></p>
      </div>
    </div>
  </nav>
  <div class="cuerpos" *ngFor="let proyecto of proyectos">
    <h5 class="card-header" style="color: #9fcc40;">{{proyecto.nombre_pro}}</h5>
    <div class="card-body">
      <h5 class="card-title" style="color: #9fcc40;">{{proyecto.fecha_pro}}</h5>
      <p class="card-text parrafo">{{proyecto.descripcion_pro}}</p>
      <a href="{{proyecto.enlace_pro}}" class="btn btn-outline-secondary"
        style="color: #9fcc40; border: #9fcc40 1px solid;" target="_blank">Proyecto</a>
    </div>
  </div>
</div>
<app-form-contacto></app-form-contacto>
<app-footer></app-footer>