<div class="seccion">
  <nav class="navbar container-fluid">
    <div class="container-fluid navbar">
      <span class="navbar-brand">
        <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
        <h2 class="navbar">Proyectos</h2>
      </span>
    </div>
  </nav>
<div class="container card cuerpo">
  <h5 class="card-header">Proyecto 1</h5>
  <div class="card-body">
    <h5 class="card-title">Trabajo 1</h5>
    <p class="card-text parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae soluta ipsa reiciendis
      voluptate incidunt placeat odio? Ducimus, recusandae!</p>
      <p class="card-text parrafo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus nostrum nulla nihil culpa quam voluptatem. Accusantium tempora ab beatae eos molestiae inventore reiciendis atque minima aliquam. Possimus nisi ipsa quisquam.</p>
      <p class="card-text parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ipsam libero nam quis suscipit in rem temporibus aut magnam expedita quae iusto sit repellendus minus nihil fuga veniam assumenda possimus eaque inventore reprehenderit quasi! Id obcaecati aperiam ratione deserunt doloremque natus magnam. Minima dolorem ex accusantium quam id? Asperiores rerum delectus corrupti voluptate fugiat sequi aliquid minima quia, neque nostrum nihil quae ullam itaque maxime error, sunt quasi numquam recusandae commodi deleniti, repellendus sed quidem. Voluptates ipsam libero incidunt illum ducimus non. Maxime deleniti pariatur in at necessitatibus quibusdam ipsam?</p>
    <a href="#" class="btn btn-outline-secondary">Proyecto</a>
  </div>
</div>
<div class="container card cuerpo">
  <h5 class="card-header">Proyecto 2</h5>
  <div class="card-body">
    <h5 class="card-title">traabajo 2</h5>
    <p class="card-text parrafo">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni nisi aut, voluptas
      repudiandae obcaecati consequatur eius saepe deleniti praesentium. Expedita soluta nesciunt alias ipsa?</p>
    <p class="card-text parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti fuga obcaecati inventore suscipit non voluptatibus cum error, quibusdam eveniet? Magnam accusantium accusamus distinctio incidunt doloremque praesentium suscipit fuga ea aliquid repellat reprehenderit atque saepe, molestias a et sit, est facilis sequi veniam odit? Possimus, illo?</p>
    <p class="card-text parrafo">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem illo deserunt itaque accusamus recusandae tempore error tenetur odit maxime dolor quis, alias rem qui a voluptatibus minima quo porro nobis? Nostrum odio aperiam, magni rem ipsa vel quam repudiandae dolor architecto dolorem fuga autem quis nesciunt! Tempora, deleniti vel officia facilis itaque officiis labore reprehenderit? Aut rerum maiores excepturi sed?</p>
    <a href="#" class="btn btn-outline-secondary">Proyecto:</a>
  </div>
</div>

</div>
