<div class="seccion">
  <nav class="navbar container-fluid">
  <div class="container-fluid navbar">
    <span class="navbar-brand">
      <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
    <h2 class="navbar">Acerca de mí:</h2>
    </span>
  </div>
<div class="container-fluid baner">

  <div class="row">

    <div class="col-3 about">
      <img class="miFoto" [src]="portfolioDatos.foto" alt="">
    </div>

      <div class="container-fluid sobreMi col-8 cuerpos">
        <p class="presentacion" ><strong>{{portfolioDatos.nombre}} {{portfolioDatos.apellido}} </strong> <u>{{portfolioDatos.titulo}}</u></p>
        <br>
        <p>{{portfolioDatos.presentacion}}</p>
      
      </div>
      
    
  </div>
  
</div>
<!-- ./../../../assets/dist/foto.png -->
