
  <div class="container-fluid baner">  
    <div class="container row" style="margin: 3rem auto; width: 20rem;">
        <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides">
      </div>
    </div>
<div class="col about">
  <img class="miFoto" src="../../../assets/dist/foto.png" alt="">
<div class="navegacion">
  
  <div class="container-fluid sobreMi">
    <h2><strong>Rodrigo Benavides</strong></h2>
    <h3>Desarrollador Web Full Satck</h3>
    <p>Soy Rodrigo, desarrollador web. Curioso por naturaleza y apasionado por la tecnología y el funcionamiento de las cosas. Esta características me han llevado por diferentes experiencias de aprendizaje en los rubros más disímiles. Conocí la computación ya de grande, y me enamoré de lo que se podía lograr con ella. Así primero, aprendí (de forma autodidacta) el mantenimiento y armado de la P. C.,  luego, cuando tuve la oportunidad de entrar a “argentina programa” descubrí mi pasión más reciente: La Programación  Web.</p>
    <p>He aquí mis trabajos, mis avances, mi camino. Espero pronto, caminar con ustedes.</p>
  </div>
</div>
</div>


