<div class="modal fade" id="skills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border: solid 2px #9fcc40;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añadir Skills</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Nueva habilidad:</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" value="nombre"  [(ngModel)]="nom_skill" name="academia">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Porcentaje de dominio: </label>
          <input type="text" class="form-control" id="exampleFormControlInput1"  [(ngModel)]="porcentaje">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Logo: </label>
          <input type="text" class="form-control" id="exampleFormControlInput1"  [(ngModel)]="logo_skills">
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn botones" (click)="creaSkills()">Crear</button>
      </div>
    </div>
  </div>
</div>
