<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ingresar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="form-floating mb-3">
              <input class="form-control" type="text" name="" id="floatingInput" placeholder="Usuario">
              <label for="floatingInput">Usuario:</label>
            </div>
            <div class="form-floating mb-3">
              <input class="form-control" type="password" name="" id="FloatingInput" placeholder="Contraseña">
              <label for="floatingInput">contraseña:</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-primary botones" >LOGIN</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
