<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="border: solid 2px #9fcc40;">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal2" aria-label="Close"></button>
      </div>
      <div class="modal-body">


        <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
          <div class="mb-3 form-group">
            <label for="nombreUsuario" class="form-label">Nmbre de Usuario</label>
            <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" aria-describedby="textlHelp"
              [(ngModel)]="nombreUsuario" required>
          </div>
          <div class="mb-3 form-group">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" required>
          </div>
          <div class="form-group d-grid gap-2">
            <button type="submit" class="btn botones" [disabled]="!f.valid">Iniciar Sesión</button>
          </div>
        </form>
        <div class="alert alert-danger mt-3" *ngIf="f.submitted && isLogginFail">
          Fail en el login : {{errMsj? null: "No autorizado"}}
        </div>


        <!-- <form [formGroup]="form">
          <div class="mb-3">
            <label for="exampleInputnombreUsuario1" class="form-label">nombreUsuario</label>
            <input type="nombreUsuario" formControlName="nombreUsuario"
              [ngClass]="{'is-invalid': nombreUsuario?.errors && nombreUsuario?.touched, 'is-valid': !nombreUsuario?.errors && nombreUsuario?.touched}"
              class="form-control" id="exampleInputnombreUsuario1" aria-describedby="nombreUsuarioHelp">
            <div *ngIf="nombreUsuario?.errors && nombreUsuario?.touched">
              <p *ngIf="nombreUsuario?.hasError('required')" class="text-danger">El nombreUsuario es requerido</p>
              <p *ngIf="nombreUsuario?.hasError('nombreUsuario')" class="text-danger">Formato de nombreUsuario inválido</p>
            </div>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="password"
              [ngClass]="{'is-invalid': Password?.errors && Password?.touched, 'is-valid': !Password?.errors && Password?.touched}"
              class="form-control" id="exampleInputPassword1">
            <div *ngIf="Password?.errors && Password?.touched">
              <p *ngIf="Password?.hasError('required')" class="text-danger">La contraseña es requerida</p>
              <p *ngIf="Password?.errors?.['minlength']" class="text-danger">La contraseña debe tener mínimo 8
                caracteres</p>
            </div>
          </div>

          <button type="submit" class="btn botones">Login</button>
        </form> -->




      </div>
    </div>
  </div>