<div class="seccion">
  <nav class="navbar container-fluid">
  <div class="container-fluid navbar">
    <span class="navbar-brand">
      <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
     <h2 class="navbar">Experiencia:</h2>
    </span>
  </div>
</nav>

<div class="card cuerpo">
  <h5 class="card-header">Práctica 1</h5>
  <div class="card-body">
    <h5 class="card-title">Calculadora simple</h5>
    <p class="card-text parrafo">Ejercicio de aprendizaje de angula que muestra  como ptabaja  el data-bingdin los event- binding y los binding de doble vía. Consta de dos campos donde poner numeros y cuatro botones que operan con esos numeros: los suman, los restam, los multiplican, y los dividen.</p>
    <p class="card-text parrafo">Un ejercicio sencillo para iniciar en angular</p>
    <a href="https://github.com/RoBg4377/Calculadora-Simple.git" target="_blank" class="btn btn-outline-secondary botones">Ver tarbajo</a>
  </div>
</div>
<div class="card cuerpo" >
  <h5 class="card-header">Práctica 2</h5>
  <div class="card-body">
    <h5 class="card-title">Agenda simple</h5>
    <p  class="card-text parrafo">Prácticas de Angular con directivas, binding, eventos, etc. Uso de bootstrap.</p>
    <p class="card-text parrafo">Un ejercicio algo más complicado que el anterior</p>
    <a href="https://github.com/RoBg4377/AgendaSimple.git" class="btn btn-outline-secondary">Ver tarbajo</a>
  </div>
</div>





