<div class="seccion">

  <nav class="navbar container-fluid">
    <div class="container-fluid navbar">
      <span class="navbar-brand">
        <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
        <h2 class="navbar">Hard and Soft skills</h2>
      </span>
    </div>
  </nav>

  <div class="cuerpos">

    <div class="dWeb">
      <h3 class="secciones">Diseño Web</h3>
      <br>
      <br>

<!-- seccion de html -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/html.png" alt="" class="logo col-2">
      <h5  class="col-2 nom">HTML</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 35%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">35%</span> 
          </div>
        </div>
      </div>
    </div>

    <!-- seccion de css -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/css.png" alt="" class="logo col-2">
      <h5 class="col-2 nom">CSS</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">25%</span> 
          </div>
        </div>
      </div>
    </div>
      
<hr>
    <br><br>

    <h3 class="secciones">Lenguajes</h3>
    <br>
    <br>
    <!-- seccion de JS -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/js.png" alt="" class="logo col-2">
      <h5 class="col-2 nom">Java Script</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 47%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">47%</span> 
          </div>
        </div>
      </div>
    </div>

    <!-- seccion de Java -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/java.png" alt="" class="logo col-2">
      <h5 class="col-2 nom">Java</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">30%</span> 
          </div>
        </div>
      </div>
    </div>

    <!-- seccion de TS -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/ts.png" alt="" class="logo col-2">
      <h5 class="col-2 nom">Type Script</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra barra" role="progressbar" aria-label="Example with label" style="width: 43%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">43%</span> 
          </div>
        </div>
      </div>
    </div>

    <!-- seccion de sql -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/logo-mysql-26353.png" alt="" class="logo col-2">
      <h5 class="col-2 nom">SQL</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">40%</span> 
          </div>
        </div>
      </div>
    </div>

    <hr>
    <br><br>

    <h3 class="secciones">FrameWorks y Librerías</h3>
    <br>
    <br>
    <!-- seccion de angular -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/angular.png" alt="" class="logo col-2">
      <h5 class="col-2 nom">Angular</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">50%</span> 
          </div>
        </div>
      </div>
    </div>

    <!-- seccion de Spring Boot -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/springboot.svg" alt="" class="logo col-2">
      <h5 class="col-2 nom">Spring Boot</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 17%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">17%</span> 
          </div>
        </div>
      </div>
    </div>

    <!-- seccion de TS -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/bootstrap-logo-shadow.png" alt="" class="logo col-2">
      <h5 class="col-2 nom">Boots Trap</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 56%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">56%</span> 
          </div>
        </div>
      </div>
    </div>

    <hr>
    <br><br>

    <h3 class="secciones">Otras Habilidades</h3>
    <br>
    <br>
    <!-- seccion de angular -->
    <div class="row">
      <img src="./../../../assets/img/logoSkils/Git-Icon-1788C.png" alt="" class="logo col-2">
      <h5 class="col-2 nom">Git</h5>
      <div class="col">
        <div class="progress fondoBarra">
          <div class="progress-bar barra" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><span class="porcentaje">60%</span> 
          </div>
        </div>
      </div>
    </div>

  </div>

    
</div>