
<div class="seccion">

  <nav class="navbar container-fluid">
    <div class="container-fluid navbar">
      <span class="navbar-brand">
        <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides" style="width:5rem;">
        <h2 class="navbar">Hard and Soft skills</h2>
      </span>
    </div>
  </nav>

  <div class="card educacion">

    <div class="card-body">

      <div class="container skills-section">

        <div class="row">
<!-- progreso HTML -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="skills skills1"></div>
          </div>
<!-- progreso CSS -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="skills skills2"></div>
          </div>
<!-- progreso JS -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="skills skills3"></div>
          </div>
<!-- progreso Bootstrap -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="skills skills4"></div>
          </div>
<!-- progreso Typescript -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="skills skills5"></div>
          </div>
<!-- progreso Angular -->
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="skills skills6"></div>
          </div>

        </div>
        
      </div>

    </div>

  </div>

</div>