.logo{
  width: 2rem;
  
}
.secciones{
  color: #df8bdd;
  font-size: 35px;
}
hr {
  height: 4px;
  background-color: #408bcc;
  margin-top: 1rem;
}
.nom{
  color:#df8bdd;
  font-size: 2vw;
}
.barra{
  background-color:#9fcc40;
}
.fondoBarra{
  background-color:#452043;
  height: 1.3rem;
}
.porcentaje{
  color: #452043;
  font-weight: bold;
  font-size: 1rem;
}
.ico{
  margin: 0.5vw;
  color: #9fcc40;
  border: #9fcc40 solid 2px;
}
.update{
  width: 15%;
  margin-left: auto;
}