.logo{
  width: 65px;
  
}
.secciones{
  color: #df8bdd;
  font-size: 35px;
}
hr {
  height: 10px;
  background-color: #9fcc40;
}
.nom{
  color:#df8bdd;
  font-size: 2vw;
}
.barra{
  background-color:#9fcc40;
}
.fondoBarra{
  background-color:#452043;
  height: 25px;
}
.porcentaje{
  color: #452043;
  font-weight: bold;
  font-size: 1rem;
}