<nav class="navbar" style="background-color: #452043;">
  <div class="container">
      <img src="./../../../assets/dist/aplogo.png " alt="logo argentina programa" class="argProg">
      <div >
    
        <button type="button" class=" btn botones"  routerLink="/indice">HOME</button>
      
      
        <button type="button" class=" btn botones" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style=" font-family: 'Concert One', cursive;">CONTACTO</button>
      
      
        <button type="button" class=" btn botones" data-bs-toggle="collapse" data-bs-target="#secciones" aria-expanded="false" aria-controls="secciones" style=" font-family: 'Concert One', cursive;">SECCIONES</button>
      
    </div> 
  </div>
</nav>

<nav class="navbar collapse" id="secciones" style="background-color: #452043;">
  <form class="container-fluid col-sm-3 col-lg-12 secciones">
    <a routerLink="/persona"><button class="btn btn-outline-secondary botones" type="button">ACERCA DE MI</button></a>
    <a routerLink="/educacion"><button class="btn btn-outline-secondary botones" type="button">EDUACACIÓN</button></a>
    <a routerLink="/skills"><button class="btn btn-outline-secondary botones" type="button">SKILLS</button></a>
    <a routerLink="/experiencia"><button class="btn btn-outline-secondary botones" type="button">EXPERIENCIA</button></a>
    <a routerLink="/proyectos"><button class="btn btn-outline-secondary botones" type="button">PROYECTOS</button></a>
  </form>
</nav>
