.campo{
  background-color: #1f1d36;
}
.editar{
  color: #9fcc40;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: #9fcc40 solid 1px;
}
.editar:hover {
  color: #d74e32;
  border: #d74e32 solid 1px;
  transform: scale(1.1);
}
.botones{
  background-color: #9fcc40;
  color: #1f1d36;
  border-color: #df8bdd;
  font-family: 'Concert One', cursive;
  margin: 1vw;
}
.botones:hover{
  background-color: #1F1D36;
  color: #9fcc40;
  border-color:#9fcc40;
}