<nav class="navbar navbar-dark  2" style="background-color: #1F1D36;">
  <span><img src="../../../assets/dist/aplogo.png" alt="logo argentina programa" width="140" height="110" style="margin-left:2rem;"></span>  
  <div>
    <button type="button" class="btn btn-outline-secondary" style="margin-left: 90rem;">CONTACTO</button>
  </div>
  <div>
    <button type="button" class="btn btn-outline-secondary" style="margin: 2rem;">LOGIN</button>
  </div>

</nav>
  <div class="container-fluid" style="background-image: url(../../../assets/dist/fondocodigo.jpg); padding-top: 30px; padding-bottom: 30px;">  
  <div class="container row" style="margin: 3rem auto; width: 30rem;">
      <img src="../../../assets/dist/MiLogo.png" alt="logo Rodrigo Benavides">
    </div>
  </div>



