
  <app-about></app-about>
  <app-acerca-de-mi></app-acerca-de-mi>
  
  <app-educacion></app-educacion>
  <div class="campo">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: #9fcc40;">AGREGAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #df8bdd;">EDITAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #d74e32;">BORRAR</a>
      </li>
    </ul>
  </div>
  <app-skills></app-skills>
  <div class="campo">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: #9fcc40;">AGREGAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #df8bdd;">EDITAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #d74e32;">BORRAR</a>
      </li>
    </ul>
  </div>
  <app-experiencia></app-experiencia>
  <div class="campo">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: #9fcc40;">AGREGAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #df8bdd;">EDITAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #d74e32;">BORRAR</a>
      </li>
    </ul>
  </div>
  <app-proyectos></app-proyectos>
  <div class="campo">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: #9fcc40;">AGREGAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #df8bdd;">EDITAR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: #d74e32;">BORRAR</a>
      </li>
    </ul>
  </div>


