
body{
  background-image: url(./assets/dist/fondocodigo.jpg);
  background-size: cover;
}

.baner,.seccion{
  background-image: url(src/assets/dist/fondocodigo.jpg); padding-top: 30px; padding-bottom: 30px;
  background-size:cover;
}
.miFoto {
  z-index: 9;
  position:relative;
  margin-top: 8rem;
  width: 18vw;
  height: 35vh;
  border: solid 4px #864879;
  border-radius: 50%;
}
.about {
  height: 80vh;
  display: flex;
  font-family: 'Concert One', cursive;
  font-size: 15px;
}
.sobreMi {
  background-color: #1f1d36;
  padding: 3vh 2vh;
  border: solid 3px #864879;
  color:#6c757d;
  margin: 2vh 3vh;
  font-family: 'Indie Flower', cursive;
  font-size: 3.5vh;
}
.navbar {
  background-color: #452043;
  color: #864879;
  font-family: 'Concert One', cursive;
  display: flex;
}
h2 {
  float: right;
  margin: 1px 10px;
}
.cuerpo.card{
  background-color: #452043;
  border: solid 2px #6c757d;
  border-radius: 10px;
  margin: 20px 15px;
  padding-top: 10px;
  font-family: 'Concert One', cursive;
  color: #864879
}
.lista, .parrafo {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
  color:#6c757d;
}
footer {
  height: 10vh;
  background-color: #864879;
  
  color: #1f1d36;
}
.pie{
  width: 20vw;
  margin: auto;
}
.logo{
  margin: 3rem 2rem; 
  width: 25rem;
}


.saludo{
  background-color: #1f1d36;
  font-size: 4vw;
  padding: 5vh 8vw;

}
.uno{
  color: #d74e32;
}
.dos{
  color: #df8bdd;
}
.tres{
  color: #9fcc40;
}
.etiquetas{
  padding: 2px;
}
.cuerpos{
  background-color: #1F1D36;
  width: 80vw;
  margin: 5vh auto;
  padding: 3rem;
  border: #9fcc40 2px solid;
  border-radius: 15px;
}
.iconos{
  margin-left: 60vw;
  margin-top: -5vh;
  color: #9fcc40;
  
}
